<h1>Tambe Hannah Besong</h1>
<p>I am holder of a Bachelor’s Degree in Women’s Studies/Sociology and Anthropology 
  from the University of Buea,with second-class honors, upper division (3.0/4). Also holder of IT Certificate in MS Word, MS Excel, MS Publisher, MS.Power point, MS.Windows XP
and Internet Navigation</p>
<p>I am a gender activist and Ruby on Rails Developer</p>